body {
  font-family: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
	font-size: 18px;
}
h1, .h1 {
  font-size: 5.4rem;
}

h2, .h2 {
  font-size: 4rem;
}

h3, .h3 {
  font-size: 3.2rem;
}

h4, .h4 {
  font-size: 2.3rem;
}

h5, .h5 {
  font-size: 2.1rem;
}

h6, .h6 {
  font-size: 1.8rem;
}

/* HEADER */
/* override agid css */
header{
    font-size: 14px;
}
.navbar__logo, .footer__logo {
    width: auto !important;
    float: none ! important;
}
@media screen and (min-width: 993px){
    .navbar--small .navbar__logo {
        margin-top: 3px !important;
    }
    .navbar--small .nav_social{
        display: none;
    }
    .navbar--small .form-control {
        height: 30px;
    }
}
.navbar__logo_container{
    text-align: center !important;
}
@media (min-width: 768px) { 
    .navbar__logo_container{
        text-align: left !important;
    }
}
/*
 *  Menu a comparsa per schermi più piccoli
 */
.navbar--small .navbar-toggle {
    padding-top: 2.3rem !important;
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:visited{
	cursor: pointer;
    text-decoration: none;
}
.navbar-toggle p{
    display: none !important;
    font-size: 12px;
    padding-top: 14px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -1px;
}
.row-offcanvas .sidebar-offcanvas {
    transition: all .25s ease-out;
    transform: translate3d(0, 0, 0);
}
#sidebar{
	padding: 0;
}
.sidebar-offcanvas {
    position: fixed;
    background: white;
    top: 60px;
    z-index: 99999;
    width: 80%;
    overflow: scroll;
    display: block;
    height: 100%;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%;
  }

  .row-offcanvas.active .sidebar-offcanvas {
    left: 0;
    border-right: 1px solid #5A6772;
  }

  .row-offcanvas.active:after {
    content: " ";
    position: fixed;
    top: 59px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background: #000;
    z-index: 9998;
  }
@media screen and (min-width: 768px) {
	.navbar-toggle {
	    display: block !important;
	    padding-top: 6.0rem !important;
	}
	.navbar--small .navbar-toggle p{
	    display: none !important;
	}
	.navbar-toggle p{
	    display: block !important;
	}
	.sidebar-offcanvas {
    	width: 25%;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
	  	right: -25%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	    left: -25%;
	}
	.offcanvas--large.row-offcanvas.active:after,
	.offcanvas--large .sidebar-offcanvas {
	    top: 193px;
	}
}

/* end override*/

/* END HEADER */
    
/* FOOTER */
/* override agid css */
footer .row > div, footer .footer__links {
    margin-top: 0 !important;
}
footer .footer__links {
    padding-left: 35px;
}
/* end override */
footer {
    background-color: #30373d;
    color: #ffffff;
    /* margin-top: 50px; */
}
.logo_wrapper {
    width: 74px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 0;
    transition: all 0.3s ease;
}
.logo_wrapper a {
    display: block;
}
.logo_wrapper img {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 0 0 0;
    transition: all 0.3s ease;
}
.logo_text {
    padding: 0 0 0 100px;
}
.logo_text h1, .logo_text .h1, .logo_text h2, .logo_text .h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 45px;
    color: #ffffff;
    display: block;
    margin: 0;
}
.logo_text h1 span, .logo_text .h1 span, .logo_text h2 span, .logo_text .h2 span {
    display: block;
    clear: both;
}
.title_row {
    padding-left: 20px;
}
.footer_container h3 {
    font-size: 1.33em;
    font-weight: 700;
    margin-bottom: 20px;
}
.box_text_footer {
    border-top: 1px solid #3e484f;
    padding: 20px 20px 40px 20px;
    color: #a5abb0;
    font-size: 0.88em;
}
.box_text h4 {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.16em;
}
.box_text_footer p {
    color: #a5abb0;
}
/* END FOOTER */
