<footer id="footer" class="footer_container hidden-print">
    <div class="container">

        <div class="row title_row">
            <div class="col-md-12">
                <div class="logo_container clearfix">
                    <div class="logo_wrapper clearfix">
                        <a href="{{ site.baseurl }}/" title=""><img src="{{ site.baseurl }}/images/repubblica.svg" class="logo" alt="Logo Governo Italiano"></a>
                    </div>
                    <div class="logo_text clearfix">
                        <h2><span>Governo Italiano</span>
                            Ministero delle Infrastrutture e dei Trasporti</h2>
                    </div>
                </div><!-- /logo_container -->
            </div><!-- /col-md-12 -->
        </div>


        <div class="row">

            <div class="col-md-9">

                <div class="row title_row">

                    <div class="col-md-12">
                        <h3>Contatti</h3>
                    </div><!-- /col-md-12 -->

                </div><!-- /row -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="box_text box_text_footer clearfix">
                            <h4>Ministero delle Infrastrutture e dei Trasporti</h4>
                            <p>Via Nomentana, 2<br>
                                00161 Roma, Italia</p>
                        </div>
                    </div><!-- /col-md-4 -->
                    <div class="col-md-4">
                        <div class="box_text box_text_footer clearfix">
                            <a href='http://www.mit.gov.it/ministero/dip-infrastrutture/dg-sistemi-informativi-e-statistici'><h4>Recapiti telefonici</h4></a>
                            <p>(+39) 06.4412.6363</p>								
                        </div>
                    </div><!-- /col-md-4 -->
                    <div class="col-md-4">
                        <div class="box_text box_text_footer clearfix">
                            <h4>Indirizzi di posta elettronica</h4>
                            <p><a href="mailto:opencantieri@mit.gov.it?subject=[OpenCantieri Feedback] "><strong>opencantieri (@) mit.gov.it</strong></a></p>
                            <p><a href="http://www.indicepa.gov.it/ricerca-pec/n-ricerca-pec.php?cod_amm=m_inf&mail_pec=">Elenco PEC</a></p>
                            <p><a href="http://www.mit.gov.it/mit/site.php?p=cm&o=vd&id=332">Elenco e-Mail URP</a></p>
                        </div>
                    </div><!-- /col-md-4 -->
                </div><!-- /row -->
            </div><!-- /col-md-9 -->

            <div class="col-md-3">

                <div class="row title_row">

                    <div class="col-md-12">
                        <h3>Seguici su</h3>
                    </div><!-- /col-md-12 -->

                </div><!-- /row -->

                <div class="row">

                    <div class="col-md-12">
                        <div class="box_text box_text_footer box_text_footer_social clearfix">
                            <div class="footer_social clearfix">
                                <p>
                                    <strong>OpenCantieri su: </strong> <a href="https://twitter.com/opencantieri" title="Seguici su Twitter"><i class="fa fa-twitter"></i></a> 
                                </p>
                                <p>
                                    <strong>MIT su: </strong>
                                    <a href="https://twitter.com/mitgov" title="Seguici su Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="http://www.youtube.com/user/mitgov" title="Seguici su YouTube"><i class="fa fa-youtube"></i></a>
                                </p>
                            </div><!-- /footer_social -->
                        </div>
                    </div><!-- /col-md-12 -->

                </div><!-- /row -->


            </div><!-- /col-md-3 -->


        </div>




        <div class="row">
            <ul class="col-xs-12 footer__links clearfix">

                <li><a href="crediti" title=""><strong>Crediti</strong></a></li>
                <li><a href="http://dati.mit.gov.it" title=""><strong>dati.mit.gov.it</strong></a></li>
                <li><a href="http://www.mit.gov.it/come-fare-per" title="" target="_blank">Come fare per</a></li>
                <li><a href="http://www.mit.gov.it/privacy-cookie" title="" target="_blank">Privacy policy</a></li>
                <li><a href="http://www.mit.gov.it/note-legali" title="" target="_blank">Note legali</a></li>
                <li><a href="http://www.mit.gov.it/mit/site.php?p=rss" title="Feed RSS" class="rss_feed" target="_blank"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>

    </div>
</footer>		

<a href="#page_top" title="torna all'inizio del contenuto" class="scrollto_top sr-only">
    <span>
        <i class="fa fa-chevron-up"></i>
    </span>
</a>