<header class="navbar navbar-default navbar-fixed-top hidden-print" id="navbar">
    
    <div class="navbar-header container">

        <div class="row">
            <a id="nav-toggle" href="#" class="navbar-toggle" aria-label="apri e chiudi menu" title="navigazione"
               data-toggle="offcanvas" data-target="#navbar" aria-controls="navbar">
                <span></span>
            </a>

            <div class="col-md-4 navbar__logo_container hidden-xs" >
                <a class="sr-hidden" href="http://www.mit.gov.it" tabindex="-1">
                    <img class="navbar__logo" src="{{ site.baseurl }}/images/mit_newlogo.png" alt="">
                </a>
            </div>

            <div class="col-md-8 navbar__logo_container">
                <a class="sr-hidden" href="{{ site.baseurl }}/" tabindex="-1">
                    <img class="navbar__logo" src="{{ site.baseurl }}/images/opencantieri_logo_trasp_lavori.png" alt="">
                </a>
                
            </div>

        </div><!-- row -->


    </div><!-- navbar header container -->
</header>











<div class="flag_container">
    <div class="green clearfix"></div>
    <div class="white clearfix"></div>
    <div class="red clearfix"></div>
</div>